/* Helper classes */
.texto-verde {
    color: #24b35a !important;
}

.texto-blanco {
    color: #fff !important;
}

.texto-gris {
    color: #999 !important;
}

.texto-azul {
    color: #014e6c !important;
}

.bg-azul {
    background: #014e6c;
}

.bg-verde {
    background: #24b35a !important;
}

.bg-blanco {
    background: #ffffff !important;
}

/* Fin Helper classes */
/* Header */
header {
    width: 100%;
    height: 70px;
}

nav {
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    z-index: 99999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    transition: 1s;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: #24b35a;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

nav ul li a:hover {
    background: #24b35a;
    color: #ffffff;
    text-decoration: none;
}

.padding-img {
    padding: 0 15px 0 15px;
}

.menu-icon {
    width: 100%;
    text-align: right;
    padding: 20px 25px;
    color: #24b35a;
    display: none;
    font-size: 25px;
}

/* Fin Header */
/* Slider */
.slider-caption {
    max-width: initial !important;
}

.slide1 {
    right: 23% !important;
    margin-left: -50px;
}

.slide2 {
    left: 30% !important;
}

.slide3 {
    right: 30% !important;
}

.slider-caption h2 {
    letter-spacing: initial;
    font-weight: 800;
    font-size: 2.7rem !important;
}

/* Fin Slider */
/* Seccion 1 */
.textoTituloVerde {
    color: #24b35a !important;
    font-size: 35px !important;
}

.parrafo1 {
    font-size: 15px !important;
}

.fbox-icon i {
    cursor: pointer;
}

/* Fin Seccion 1 */
/* Seccion 2 */
.textoTituloBlanco {
    color: #fff !important;
    font-size: 35px !important;
}

.parrafoBlanco {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2 !important;
}

.titulo-servicio {
    font-size: 20px !important;
    color: white !important;
}

.parrafo-servicio {
    font-size: 15px !important;
    color: white !important;
}

/* Fin Seccion 2 */
/* Seccion 3 */
.btn-primary {
    background: #24b35a;
    border: 1px solid #24b35a;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.btn-primary:hover {
    background: #24b35a;
    border: 1px solid #24b35a;
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-primary:active {
    background: #24b35a !important;
    outline: none !important;
    box-shadow: none !important;
    color: #fff;
}

/* Fin Seccion 3 */
/* Seccion 4 */
.tabs.tabs-bb ul.tab-nav li.ui-tabs-active a {
    border-bottom: 4px solid #24b35a !important;
    color: #014e6c !important;
}

.tabs.tabs-bb ul.tab-nav li a {
    font-size: 20px;
    color: #014e6c;
}

.imgTab1 {
    width: 75%;
    margin: auto;
    display: block;
}

.imgTab2 {
    width: 90%;
    margin: auto;
    display: block;
}

.imgTab3 {
    width: 100%;
    margin: auto;
    display: block;
}

.imgTab4 {
    width: 70%;
    margin: auto;
    display: block;
}

/* Fin Seccion 4 */
/* Seccion 5 */
.s-responsive {
    display: none;
}

/* Fin Seccion 5 */
/* Seccion 7 */
.owl-carousel .owl-nav [class*=owl-]:hover {
    background: rgba(99, 99, 99, 0.527) !important;
}

.imgTesti {
    width: 50% !important;
}

/* Fin Seccion 7 */
/* Seccion 8 */
.btn-secondary {
    background: #014e6c;
    border: 1px solid #014e6c;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.btn-secondary:hover {
    background: #014e6c;
    border: 1px solid #014e6c;
}

.btn-secondary:focus {
    outline: none !important;
    box-shadow: none;
}

.btn-secondary:active {
    background: #014e6c !important;
    outline: none !important;
    box-shadow: none !important;
    color: #fff;
}

/* Fin Seccion 8 */
/* Footer */
label {
    cursor: initial !important;
}

.btn-responsive {
    display: none;
}

.social-icon {
    color: #fff;
    border: 1px solid #fff;
}

.social-icon:hover {
    color: #fff;
}

.fondoFooter {
    background: #014e6c repeat fixed !important;
    background-size: 100% 100% !important;
    border: none !important;
}

.texto-5 {
    font-size: 20px;
}

.texto-6 {
    font-size: 20px;
}

.texto-5 a:hover {
    color: #fff;
}

.only-responsive {
    display: none;
}

.only-normal {
    display: none;
}

.displayResponsive {
    display: none;
}

/* Fin Footer */

#carrusel1 {
    background-image: url('images/slider/swiper/Paginasweb.jpg');
}

#carrusel2 {
    background-image: url('images/slider/swiper/Marketing.jpg');
}

#carrusel3 {
    background-image: url('images/slider/swiper/Disenografico.jpg');
    background-position: center top;
}

#carrusel4 {
    background-image: url('images/slider/swiper/apps.jpg');
    background-position: center top;
}

/* Media Queries */
@media (max-width: 575.98px) {
    .menuToggle {
        display: none;
        transition: all;
    }

    .menuLinks {
        display: block;
    }

    .padding-img {
        display: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .menu-icon img {
        width: 80%;
        float: left;
    }

    .menu-icon a {
        color: #24b35a;
    }

    /* Slider */
    .slider-arrow-left,
    .slider-arrow-right {
        display: none !important;
    }

    .displayResponsive {
        display: block;
    }

    .slide1 {
        left: 80px !important;
        
    }

    .slide2 {
        top: 85px !important;
        left: 45% !important;
       
    }

    .slide3 {
        left: 30px !important;
    }

    .slide4 {
        left: 150px !important;
    }

    .slider-caption h2 {
        letter-spacing: initial;
        font-weight: 800;
        font-size: 1rem !important;
    }

    /* Fin Slider */
    /* Seccion 1 */
    .textoTituloVerde {
        font-size: 24px !important;
    }

    .m-responsive {
        margin-top: 0px !important;
    }

    /* Fin Seccion 1 */
    /* Seccion 2 */
    .textoTituloBlanco {
        font-size: 24px !important;
    }

    .parrafoBlanco {
        text-align: justify;
    }

    /* Fin Seccion 2 */
    /* Seccion 3 */
    .col-lg-8 h2 {
        font-size: 20px !important;
    }

    .col-lg-8 .nolineheight {
        line-height: initial !important;
    }

    .texto-5 {
        font-size: 17px;
    }

    .texto-6 {
        font-size: 16px;
    }

    .col-lg-3 button {
        display: block !important;
        margin: auto !important;
    }

    /* Fin Seccion 3 */
    /* Seccion 4 */
    .tabContentResponsive {
        margin: auto !important;
    }

    .tabListResponsive {
        margin: auto !important;
    }

    .imgTab1 {
        margin-top: 5%;
    }

    .imgTab2 {
        margin-top: 5%;
    }

    /* Fin Seccion 4 */
    /* Seccion 5 */
    .s-responsive {
        display: block;
    }

    .s-normal {
        display: none;
    }

    /* Fin Seccion 5 */
    /* Seccion 6 */
    .margin-responsive {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }

    /* Fin Seccion 6 */
    /* Footer */
    .tc-responsive {
        text-align: center;
    }

    .btn-normal {
        display: none;
    }

    .btn-responsive {
        display: block;
    }

    .responsiveFix {
        margin-left: 16.5%;
    }

    .mt-responsive {
        margin-top: 20px;
    }

    .only-responsive {
        display: block;
    }

    /* Fin Footer */

    #carrusel1 {
        background-image: url('images/slider/swiper/Paginas-telefono.jpg');
    }

    #carrusel2 {
        background-image: url('images/slider/swiper/Marketing-telefono.jpg');
    }

    #carrusel3 {
        background-image: url('images/slider/swiper/Diseno-telefono.jpg');
        background-position: center top;
    }

    #carrusel4 {
        background-image: url('images/slider/swiper/apps-telefono.jpg');
        background-position: center top;
    }
}

/*tablets*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .menuToggle {
        display: none;
        transition: all;
    }

    .menuLinks {
        display: block;
    }

    .padding-img {
        display: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .menu-icon img {
        width: 50%;
        float: left;
    }

    .menu-icon a {
        color: #24b35a;
    }

    .menu-icon a .fa-plus {
        margin-top: 10px;
        margin-right: 20px;
        font-size: 40px;
    }

    .slider-arrow-left {
        display: none;
    }

    .slider-arrow-right {
        display: none;
    }

    .displayResponsive {
        display: block;
    }

    .slide1 {
        left: 30px !important;
    }

    .slide2 {
        top: 230px !important;
        right: 20px !important;
    }

    .slide3 {
        left: 30px !important;
    }

    .slide4 {
        left: 70px !important;
    }

    .slider-caption h2 {
        letter-spacing: initial;
        font-weight: 800;
        font-size: 2.5rem !important;
    }

    .parrafo1 {
        font-size: 15px !important;
    }

    .parrafoBlanco {
        text-align: justify !important;
    }

    .textoTituloVerde {
        font-size: 25px !important;
    }

    .textoTituloBlanco {
        color: #fff !important;
        font-size: 25px !important;
    }

    .col-lg-8 h2 {
        font-size: 20px;
    }

    .col-lg-8 .texto-5 {
        font-size: 15px;
    }

    .s-responsive .col-lg-3 button {
        position: absolute;
        bottom: 25%;
        left: 650px;
        margin-bottom: 10px;
    }

    .col-lg-3 .btn-secondary {
        position: absolute;
        bottom: 25%;
        right: 5%;
        margin-bottom: 10px;
    }

    .tabs ul li a {
        font-size: 12px !important;
        display: inline-block;
    }

    .imgTab1 {
        position: absolute;
        top: 10%;
        left: 0%;
    }

    .imgTab2 {
        position: absolute;
        top: 10%;
        left: -20%;
    }

    .imgTab3 {
        position: absolute;
        top: 10%;
        left: -30%;
    }

    .imgTab4 {
        width: 40%;
        position: absolute;
        top: -220px;
        left: 50%;
    }

    .s-responsive {
        display: block;
    }

    .s-normal {
        display: none;
    }

    .btn-responsive {
        display: block;
    }

    .btn-normal {
        display: none;
    }

    .mt-responsive {
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 780px) {
    .menuToggle {
        display: none;
        transition: all;
    }

    .menuLinks {
        display: block;
    }

    .padding-img {
        display: none;
    }

    .menu-icon {
        display: inline-block;
    }

    .menu-icon img {
        width: 50%;
        float: left;
    }

    .menu-icon a {
        color: #24b35a;
    }

    .menu-icon a .fa-plus {
        margin-top: 10px;
        margin-right: 20px;
        font-size: 40px;
    }

    .slider-arrow-left {
        display: none;
    }

    .slider-arrow-right {
        display: none;
    }

    .displayResponsive {
        display: block;
    }

    .slide1 {
        left: 30px !important;
    }

    .slide2 {
        top: 180px !important;
        right: 20px !important;
    }

    .slide3 {
        left: 30px !important;
    }

    .slide4 {
        right: 80px !important;
    }

    .slider-caption h2 {
        letter-spacing: initial;
        font-weight: 800;
        font-size: 2rem !important;
    }

    .parrafo1 {
        font-size: 15px !important;
    }

    .parrafoBlanco {
        text-align: justify !important;
    }

    .textoTituloVerde {
        font-size: 25px !important;
    }

    .textoTituloBlanco {
        color: #fff !important;
        font-size: 25px !important;
    }

    .col-lg-8 h2 {
        font-size: 20px;
    }

    .col-lg-8 .texto-5 {
        font-size: 15px;
    }

    .col-lg-3 button {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .tabs ul li a {
        font-size: 12px !important;
        display: inline-block;
    }

    .imgTab1 {
        width: 35%;
        position: absolute;
        top: -220px;
        left: 50%;
    }

    .imgTab2 {
        width: 35%;
        position: absolute;
        top: -240px;
        left: 50%;
    }

    .imgTab3 {
        width: 50%;
        position: absolute;
        top: -300px;
        left: 45%;
    }

    .imgTab4 {
        width: 40%;
        position: absolute;
        top: -220px;
        left: 50%;
    }

    .s-responsive {
        display: block;
    }

    .s-normal {
        display: none;
    }

    .tc-responsive {
        text-align: center;
    }

    .tc-responsive .texto-5 {
        font-size: 20px !important;
    }

    .responsiveFix {
        margin-left: 15%;
    }
}

/* fin tablets */
